body{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    width: 100%;
    margin: 5px;
}
.intro {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width: 880px){
    .dropdown{
        display:none;
    }
}
@media screen and (max-width: 880px){
    .logo{
        display: none;
    }
    .links-intro{
        display:none;
    }
}
.header, .box-presentation{
    width: 80%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.box-presentation p{
    padding-top: 24px;
    padding-bottom: 24px;   
}
.box-presentation {
    padding-bottom:7%;
    background-color: red;
}
.header{
    margin: 12px;
    margin-bottom: 40px;
}
.logo {
    width: 50px;
    font-size: 24px;
    color: #f9faf8;
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
}
.links-intro ul {
    width: 100%;
    font-size: 20px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    gap: 30px;
}
.presentation button{
    width: 120px;
    height: 42px;
    background-color: #3882f6;
    border-radius: 7px;
    color: white;
    font-size: large;
    font-weight: bold;
    border: 1px solid white;
}
.first-imag img {
    height: 360px;
    width: auto;    
    border-radius: 8px;
    object-fit: cover;
    width: 35vw;
    height: 250px;
}
.logo img {
    background-color: #3882f6;
    border-radius: 10%;
    object-fit: cover;
    width: 5vw;
    /*height: 40px;*/
}
                  /* start second section, images */
.images{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 120px;
}
.images-tittle {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.box-images{
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.mtb {
    width: 15%;
}
.images img{
    border: 2px solid rgb(170, 168, 168);
    border-radius: 1%;
    object-fit: cover;
    width: 15vw;
    height: 100px;
}
                  /* start third section, inspiration */
.inspiration {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote{
    width: 50%;
    margin-top: 5%;
    margin-bottom: -3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote p{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.sign{
    width: 50%;
    margin-top: -2%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.sign p{
    font-weight: bolder;
    font-size: 24px;
}
                  /* start fourth section, contact */
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue-box {
    width: 75%;
    background-color: #3882f6;
    border-radius: 7px;
    color: white;
    margin: 5%;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.blue-box button{
    width: 120px;
    height: 42px;
    background-color: #3882f6;
    border-radius: 7px;
    color: white;
    font-size: large;
    font-weight: bold;
    border: 1px solid pink;
}
.footer{
    background-color: #1f2937;
    text-align: center;
    padding: 1%;
    color: #e5e7eb;
}