body{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    width: 100%;
    margin: 5px;
}
.intro {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.dropdown{
    background-color: #1f2937;
    color: #e5e7eb;
}
.links-intro ul {
    width: 100%;
    font-size: 20px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    gap: 30px;
}
.header{
    margin: 12px;
    margin-bottom: 40px;
}
.logo {
    width: 50px;
    font-size: 24px;
    color: #f9faf8;
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
}
@media screen and (min-width: 880px){
    .dropdown{
        display:none;
    }
}
@media screen and (max-width: 880px){
    .logo{
        display: none;
    }
    .links-intro{
        display:none;
    }
}
.header, .box-presentation {
    width: 80%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.presentation{
    max-width: 400px;
    text-align: center;
    margin-bottom: 16px;
}
.presentation p{
    padding-top: 16px;
    padding-bottom: 8px;   
}
.box-presentation {
    padding-bottom:7%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-around;
}
.first-imag img {
    height: 360px;
    width: auto;    
    border-radius: 8px;
    object-fit: cover;
    width: 35vw;
    height: 250px;
}
.logo img {
    background-color: #3882f6;
    border-radius: 10%;
    object-fit: cover;
    width: 5vw;
    /*height: 40px;*/
}
                  /* start second section, images */
.images{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    /* gap: 120px; */
}
.images-tittle {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.box-images{
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.mtb {
    width: 15%;
}
.images img{
    border: 2px solid rgb(170, 168, 168);
    border-radius: 1%;
    object-fit: cover;
    width: 15vw;
    height: 100px;
}
                  /* start third section, inspiration */
.inspiration {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 0px 0px 0px;
    padding-top: 8px;
    padding-bottom: 30px;
    transition: all 0.2s ease-in;
}
.quote{
    width: 80%;
    margin-top: 5px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
}
.quote p {
    font-size: 24px;
    font-style: italic;
    color: #1f2937;
}
.sign{
    width: 80%;
    margin: 2px 0 2px 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.crown-space{
    color: white;   
}
.crown{
    color: white;
    font-size: 3rem;
}
.sign p{
    font-weight: bolder;
    font-size: 24px;
}
.inspiration:hover{
    background-color: #8b423d;
    color: #f1f7d4;

}
.quote:hover p,
.sign:hover p{
    color: #f1f7d4;
}
                  /* start fourth section, contact */
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}
.blue-box {
    width: 70%;
    background-color: #3882f6;
    border-radius: 7px;
    color: white;
    /* margin: 5%; */
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button{
    width: 110px;
    height: 42px;
    margin-bottom: 20px;
    background-color: #3882f6;
    color: white;
    font-size: large;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s ease-in;
}
button:hover,
a:hover,
img:hover {
    scale: 1.05;
}
/* a:hover{
    scale: 1.05;
} */
.footer{
    background-color: #1f2937;
    text-align: center;
    padding: 1%;
    color: #e5e7eb;
}

@media screen and (max-width: 500px){
    .box-images{
        flex-direction:column;
    }
    .mtb{
        width: 50%;
    }
    .images img{
        width: 80%;
    }
    .quote p{
        font-size: 16px;
    }
    .sign p{
        font-size: 16px;
    }
    .blue-box{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}